body {
  background-color: darkblue;
  color: white;
}
.maintitle {
  background-color: black;
  color: purple;
}

.test_box {
  background-color: purple;
  height: 100px;
  width: 100px;
  padding: 10px;
  margin: 40px;


}

#primary {
  background-color: blue;
  

}
